/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-generator {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.link {
    display: block;
    text-decoration: none;
    background-color: #28a745;
    color: white;
    text-align: center;
    text-emphasis: none;
}

.link a {
    text-decoration: none;
}

.btn {
    display: block;
    text-decoration: none;
    background-color: #28a745;
    color: white;
    margin: 10px;
    padding: 10px;
}

.btn:hover {
    background-color: #218838;
}